{{headTitle model.name ' on drkmen'}}

<div class="posts">

    <div class="author-page" {{bind-attr style=model.PPbackground}}>
        <div class="author-page-info">
            <div class="hr"></div>
            <p></p>
            <div class="name">{{model.name}}</div>
            <div class="info">
                <span class="about">{{model.about}}</span>
                <p></p>
                Total posts: {{model.posts.length}}
            </div>

        </div>
    </div>

    {{#each post in model.posts}}
        <div class="post">
            {{partial 'posts/post_info'}}
        </div>
    {{/each}}

</div>