<div class="post-preview index" {{bind-attr style=post.PPbackground}}></div>

<div class="post-index">
    {{#link-to 'posts.show' post}}<span class="title">{{post.title}}</span>{{/link-to}}
    <br>
    <p></p>
    <span class="date">
        {{date post.created_at}}
        by
        <span class="author">
            {{#link-to 'author.show' post.author}}
                {{post.author.name}}
            {{/link-to}}
        </span>
        <span class="tag pull-right">
            <i class="fa fa-tag"></i>
            {{#each tag in post.tags}}
                {{#link-to 'tags.show' tag.name}}{{tag.name}}{{/link-to}}
            {{/each}}
        </span>
    </span>

    <p></p>
    <span class="body">{{truncate post.description 200}}</span>
    <p></p>
    <br>
    {{#link-to 'posts.show' post class='post-preview-button'}}Read more{{/link-to}}
</div>
