{{headTitle 'Posts' '' ''}}
{{headDescription 'Posts on drkmen, Ruby, Rails, Ror, RubyOnRails, Ember, Ember.js' '' ''}}

<div class="posts">
    {{#if (IsEmpty model)}}
      <h1 class="thin text-center">Sorry, nothing found</h1>
    {{else}}
        <h3 class="thin text-center grey post-index-tip">Tip: Use <i class="fa fa-arrow-up"></i> and <i class="fa fa-arrow-down"></i> to navigate to the next or previous post.</h3>
        {{#each post in model}}
          <div class="row">
            <div class="post">
                {{partial 'posts/post_info'}}
            </div>
          </div>
        {{/each}}
    {{/if}}

    {{#if availablePosts}}
        <div class="text-center">
            <span class="btn load-more" {{action 'loadMore'}}>Load more</span>
        </div>
    {{/if}}

</div>