<div class="post-preview show" {{bind-attr style=model.PPbackground}}>
    <div class="post-preview-info show">
        <div class="post-preview-hr"></div>
        <h1 class="post-preview-title">{{model.title}}</h1>
    </div>
    <!--<div class="author-image"><img {!{bind-attr src=model.author.image_path}}></div>-->

</div>
<br>
<div class="post-info container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="created_by">
                <div class="author-image"><img {{bind-attr src=model.author.image_path}}></div>
                by <b class="author">{{model.author.name}}</b>
            </div>
        </div>
        <div class="col-md-7 text-right">
            <i class="fa fa-calendar-o"></i>
            {{postInfoDate model.created_at}}
            <span class="tag">
                <i class="fa fa-tag"></i>
                {{#each tag in model.tags}}
                    {{#link-to 'tags.show' tag.name}}{{tag.name}}{{/link-to}}
                {{/each}}
            </span>
        </div>
    </div>
    <p></p>
    <hr>
</div>
<div class="container-fluid">

    <div class="post-body">
        {{model.body}}
    </div>
    <hr>

    <div class="post-share">
        <span class="title">SHARE THIS POST</span>
        <p></p>
        <span class="social-buttons">
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
            <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
            </span>
        </span>
    </div>
    <hr>

    <div class="related">
        <div class="title">RELATED POSTS</div>
        {{#each post in controller.relatedPosts}}
            <div class="related-item">
                {{#link-to 'posts.show' post.id}}
                    <div class="img"><img {{bind-attr src=post.image_path}}></div>
                    <p></p>
                    <div class="text">{{truncate post.body 50}}</div>
                {{/link-to}}
            </div>
        {{/each}}
    </div>
    <hr>

    <div class="comments">
        <h3>{{model.comments.length}} Comments</h3>
        {{#each comment in model.comments}}
            <div class="comment">
                <div class="author-img"><img {{bind-attr src=comment.author.image_path}}></div>
                <div class="date">
                    <span class="author-name">{{comment.author.name}}</span>
                    <small class="pull-right">{{date comment.created_at}}</small>
                </div>
                <p></p>
                <div class="body">{{comment.body}}</div>
                <div class="clear-fix"></div>
            </div>
        {{/each}}

        <div class="new-comment">
            <!--<h4>Feel free to be first!</h4>-->
            <form role="form" {{action 'create_comment' on='submit'}}>
                <div class ="form-group">
                    {{textarea maxlength=200 value=comment-body class='form-control'}}
                </div>
                <div class ="form-group">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>

    </div>



</div>


