%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ top_responsive
%ins.adsbygoogle{"data-ad-client" => "ca-pub-9471326560483648", "data-ad-format" => "auto", "data-ad-slot" => "9884205410", :style => "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});

.posts
  -@posts.each do |post|
    .row
      .post
        .post-preview.index.mobile{style: "background-image:url('#{post.image}'); background-repeat: no-repeat;"}

        .post-index.mobile
          %br
          = link_to post_path post do
            %span.title
              = post.title
          %br
          %p
          %span.date
            = post.created_at.strftime("%d.%m.%Y")
            %span.tag.pull-right
              %i.fa.fa-tag
                = post.tag_list

          %p
          %span.body
            = truncate(post.description, length: 100)

          %p
          %br
