<div class="post-preview index" {{bind-attr style=project.PPbackground}}>

</div>
<div class="post-index">
    <div class="title">
        {{project.name}}
        <span class="date"><span class="tag pull-right project-link">{{project.link}}</span></span>
    </div>
    <br>
    <p></p>
    {{project.tagsArray}}
    <p></p>
    <span class="body">{{project.description}}</span>
    <p></p>
    <br>
</div>