<div id="aside-menu">
    <div class="aside-block">
        <ul class="aside-block-ul">
            <li><h4>{{#link-to 'index'}}HOME{{/link-to}}</h4></li>
            <li><h4>{{#link-to 'posts'}}BLOG{{/link-to}}</h4></li>
            Home<br>
            HOME<br>
            Blog<br>
            BLOG<br>
            <hr>
            ©
        </ul>
    </div>
    <div class="logo"></div>
    <div class="logo-text vertical-text">
        <strong>blog</strong>
    </div>
    {{#if showMenuVisible}}
        <div class="open-menu-button" {{action "hideaAsideMenu"}}>
            {{#view "asideButtonClose"}}
                <i class='fa fa-times fa-2x'></i>
            {{/view}}
        </div>
    {{else}}
        <div class="open-menu-button" {{action "showAsideMenu"}}>
            {{#view "asideButtonOpen"}}
                <i class='fa fa-ellipsis-v fa-2x'></i>
            {{/view}}
        </div>
    {{/if}}
</div>

<div class="wrapper">
    <div id="content">
        {{outlet}}
    </div>

    <div id="right-bar" class="pull-right">
        <div id="top-right-bar-head">
            <span class="socail-icons">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-vk fa-stack-1x"></i>
                </span>
            </span>
            <div class="search">
                <input type="text" placeholder="Search">
                <i class="fa fa-search"></i>
            </div>
            <div class="user">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x"></i>
                </span>
            </div>
        </div>
        <div id="top-right-bar-content">
            <strong>NEW POSTS</strong>
            {{#each post in model}}
                <div class="post-item">
                    <div class="post-description">
                        {{#link-to 'posts.show' post.id }}
                            <h4>{{truncate post.title 30}}</h4>
                        {{/link-to}}

                        <small>{{date post.created_at}}, by Lalka</small>
                    </div>
                    <a class="post-image">
                        <img {{bind-attr src=post.image}} width="40%" height="35%"/>
                    </a>
                    <p></p>
                </div>
                <hr>
            {{/each}}
        </div>
    </div>
</div>

<!--{{!#with showMenuVisible as isVisible}}-->
    <!--{{!#view "asideMenu" isVisible=isVisible}}-->
        <!--<div class="aside-block">-->
            <!--<ul>-->
                <!--<li>1</li>-->
                <!--<li>2</li>-->
                <!--<li>3</li>-->
                <!--<li>4</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--{{!/view}}-->
<!--{{!/with}}-->