{{headTitle 'Mike B - RubyOnRails web developer' '' ''}}
{{headDescription 'drkmen, Mike B, Михаил Беляев, Ror developer, RubyOnRails developer' '' ''}}

{{#view 'asideMenu' }}
    <div class="aside-block">
        <ul class="aside-block-ul">
            <li><h4>{{#link-to 'index'}}HOME{{/link-to}}</h4></li>

            <li><h4>{{#link-to 'posts'}}BLOG{{/link-to}}</h4></li>
            Last 5 articles:
            {{#each post in model}}
                <li>{{#link-to 'posts.show' post}}{{truncate post.title 20}}{{/link-to}}</li>
            {{/each}}

            <li><h4>{{#link-to 'about'}}ABOUT{{/link-to}}</h4></li>
            <li><a href="#" {{action 'goToLink' 'about' '#skills'}}>Skills</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Education</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Experience</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#portfolio'}}>Portfolio</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#contacts'}}>Contacts</a></li>

            <li><h4>{{#link-to 'terms'}}TERMS{{/link-to}}</h4></li>
            <li><a href="#" {{action 'goToLink' 'terms' '#terms'}}>Terms</a></li>
            <li><a href="#" {{action 'goToLink' 'terms' '#cookies'}}>Cookies policy</a></li>

            <br>
            <br>
            <br>
            <li class="social">
                <p></p>
                <div class="text-center">
                    <a href="https://github.com/drkmen">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-github fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/imdrk">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="https://google.com/+МихаилБеляев-Михаил">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/PairDro">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="https://vk.com/drkmen">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-vk fa-stack-1x"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/pub/%D0%BC%D0%B8%D1%85%D0%B0%D0%B8%D0%BB-%D0%B1%D0%B5%D0%BB%D1%8F%D0%B5%D0%B2/5b/772/1b3">
                        <span class="fa-stack">
                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            </li>

            <br>
            <hr>
            <div class="text-center"> drkmen.com © {{year}}</div>

        </ul>

    </div>
    <div class="logo"><img src="https://avatars2.githubusercontent.com/u/4477953?v=3&s=460"></div>
    <div class="logo-text vertical-text">
        {{#link-to 'index'}}<strong>drkmen</strong>{{/link-to}}
    </div>
    <div class="open-menu-button" {{action "toggleMenu"}}>
        {{#view "asideButton"}}
            <button class="cmn-toggle-switch cmn-toggle-switch__htx">
                <span>toggle menu</span>
            </button>
        {{/view}}
    </div>
{{/view}}

<div class="wrapper">
    <div id="content">
        {{outlet}}
    </div>

    <div id="right-bar" class="pull-right">
        <div id="top-right-bar-head" class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <span class="search">
                    <form role="form" {{action 'search' on='submit'}}>
                        {{input type="text" placeholder="Search" value=search}}
                        {{#if showSearchCancel}}
                          <i class="fa fa-times fa-lg" {{action 'clearSearch'}}></i>
                        {{else}}
                          <i class="fa fa-search fa-lg" {{action 'submit'}}></i>
                        {{/if}}

                    </form>
                </span>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
                <span class="social-icons">
                    <a href="https://github.com/drkmen">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.facebook.com/imdrk">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://google.com/+МихаилБеляев-Михаил">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://twitter.com/PairDro">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://vk.com/drkmen">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/pub/%D0%BC%D0%B8%D1%85%D0%B0%D0%B8%D0%BB-%D0%B1%D0%B5%D0%BB%D1%8F%D0%B5%D0%B2/5b/772/1b3">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                </span>
            </div>
        </div>
        <div id="top-right-bar-content">
            <strong>NEW POSTS</strong>
            {{#each post in model}}
                <div class="row post-item">

                    <div class="col-lg-7">
                        <div class="post-description">
                            {{#link-to 'posts.show' post }}
                                <h4>{{truncate post.title 30}}</h4>
                            {{/link-to}}
                            <p><small>{{truncate post.description 70}}</small></p>
                            <small>
                                {{date post.created_at}},
                                {{#link-to 'author.show' post.author}}
                                    <span class="author">{{post.author.name}}</span>
                                {{/link-to}}
                            </small>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <a class="post-image">
                            {{#link-to 'posts.show' post }}
                                <img {{bind-attr src=post.image_path}} width="100%"/>
                            {{/link-to}}
                        </a>
                        <p></p>
                    </div>

                </div>
                <hr>
            {{/each}}
        </div>
    </div>
</div>