<div id="aside-menu">
    <div class="aside-block">
        <ul class="aside-block-ul">
            <li><h4>{{#link-to 'index'}}HOME{{/link-to}}</h4></li>
            <li><h4>{{#link-to 'posts'}}BLOG{{/link-to}}</h4></li>
            Last 5 articles:
            {{#each post in model}}
                <li>{{#link-to 'posts.show' post}}{{truncate post.title 20}}{{/link-to}}</li>
            {{/each}}
            <li><h4>{{#link-to 'about'}}ABOUT{{/link-to}}</h4></li>
            <li><a href="#" {{action 'goToLink' 'about' '#skills'}}>Skills</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Education</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Experience</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#portfolio'}}>Portfolio</a></li>
            <li><a href="#" {{action 'goToLink' 'about' '#contacts'}}>Contacts</a></li>


            <hr>
            <!--<li><h4>{{#link-to 'index'}}CONTACTS{{/link-to}}</h4></li>-->
            <li>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </li>
            <br>
            <hr>
            <span> drkmen.com © {{year}}</span>

        </ul>

    </div>
    <div class="logo"><img src="https://avatars2.githubusercontent.com/u/4477953?v=3&s=460"></div>
    <div class="logo-text vertical-text">
        <strong>drkmen</strong>
    </div>
    {{#if showMenuVisible}}
        <div class="open-menu-button" {{action "hideaAsideMenu"}}>
            {{#view "asideButtonClose"}}
                <i class='fa fa-times fa-2x'></i>
            {{/view}}
        </div>
    {{else}}
        <div class="open-menu-button" {{action "showAsideMenu"}}>
            {{#view "asideButtonOpen"}}
                <i class='fa fa-ellipsis-v fa-2x'></i>
            {{/view}}
        </div>
    {{/if}}
</div>

<div class="wrapper">
    <div id="content">
        {{outlet}}
    </div>

    <div id="right-bar" class="pull-right">
        <div id="top-right-bar-head" class="row">
            <div class="col-lg-5 col-md-6 col-sm-6">
                <span class="search">
                    <form role="form" {{action 'search' on='submit'}}>
                        {{input type="text" placeholder="Search" value=search}}
                        <i class="fa fa-search fa-lg" {{action 'submit'}}></i>
                    </form>
                </span>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6">
                <span class="social-icons">
                    <a href="#">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="/auth/twitter">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="/auth/vkontakte">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="#">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>

                </span>
            </div>
        </div>
        <div id="top-right-bar-content">
            <strong>NEW POSTS</strong>
            {{#each post in model}}
                <!--<div class="row">-->
                    <div class="row post-item">

                        <div class="col-lg-7">
                            <div class="post-description">
                                {{#link-to 'posts.show' post }}
                                    <h4>{{truncate post.title 30}}</h4>
                                {{/link-to}}

                                <small>
                                    {{date post.created_at}},
                                    {{#link-to 'author.show' post.author}}
                                        <span class="author">{{post.author.name}}</span>
                                    {{/link-to}}
                                </small>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <a class="post-image">
                                {{#link-to 'posts.show' post }}
                                    <img {{bind-attr src=post.image_path}} width="100%"/>
                                {{/link-to}}
                            </a>
                            <p></p>
                        </div>

                    </div>
                    <hr>
                <!--</div>-->
            {{/each}}
        </div>
    </div>
</div>