{{headTitle 'Mike B - RubyOnRails web developer' '' ''}}
{{headDescription 'drkmen, Mike B, Михаил Беляев, Ror developer, RubyOnRails developer' '' ''}}

<div class="post-preview app-index" {{bind-attr style=model.PPbackground}}>
    <div class="post-preview-info">
        <div class="post-preview-hr"></div>
        <h1 class="post-preview-title">{{model.title}}</h1>
        <span class="post-preview-body">{{truncate model.description 400}}</span>
        <p></p>
        <br>
        {{#link-to 'posts.show' model class='post-preview-button'}}Read more{{/link-to}}
    </div>
</div>