!!!
%html
  %head
    %title drkmen | Mike B | WEB Developer Blog
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'nprogress'
    = javascript_include_tag 'application'

    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,cyrillic-ext", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    %meta{:name => "fragment", :content => "!"}
    %meta{:name => :description, :content => "WEB Developer Blog"}
  %body
    = render :partial => 'ga'

  .aside-block
    %ul.aside-block-ul
      %li
        %h4
          %a{href: '/'} HOME
      %li
        %h4
          %a{href: '/#!/posts'} BLOG

      Last 5 articles:
      - @posts.each do |post|
        %li
          = link_to truncate post.title 20, post_path
      {{/each}}
      <li><h4>{{#link-to 'tags'}}TAGS{{/link-to}}</h4></li>

      <li><h4>{{#link-to 'about'}}ABOUT{{/link-to}}</h4></li>
      <li><a href="#" {{action 'goToLink' 'about' '#skills'}}>Skills</a></li>
      <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Education</a></li>
      <li><a href="#" {{action 'goToLink' 'about' '#experience'}}>Experience</a></li>
      <li><a href="#" {{action 'goToLink' 'about' '#portfolio'}}>Portfolio</a></li>
      <li><a href="#" {{action 'goToLink' 'about' '#contacts'}}>Contacts</a></li>

      <li><h4>{{#link-to 'terms'}}TERMS{{/link-to}}</h4></li>
      <li><a href="#" {{action 'goToLink' 'terms' '#terms'}}>Terms</a></li>
      <li><a href="#" {{action 'goToLink' 'terms' '#cookies'}}>Cookies policy</a></li>

      <br>
      <br>
      <br>




    = javascript_include_tag 'support'